POSTGRES_DB=vulnplatform
POSTGRES_USER=vuln
POSTGRES_PASSWORD=vuln_secret_change_me
POSTGRES_PORT=5432

REDIS_PORT=6379
ELASTICSEARCH_PORT=9200

JWT_SECRET=change_me_to_a_long_random_secret_at_least_32_chars
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
ASSET_SERVICE_PORT=8082
SCAN_SERVICE_PORT=8083
VULN_SERVICE_PORT=8084
ALERT_SERVICE_PORT=8085
REPORT_SERVICE_PORT=8086
AI_SERVICE_PORT=8000
FRONTEND_PORT=4200
